fastapi
uvicorn[standard]
aiofiles
python-multipart
pyodbc
python-dotenv
python-jose
azure-functions
sqlalchemy
email-validator
pydantic[email]
passlib[bcrypt]==1.7.4
httpx
openai>=1.0.0
scikit-learn
huggingface_hub
pillow
keras
jax
jaxlib


